/.git
/.idea
/.dist
/coverage.xml
/composer.lock
/coverage.xml
/coverage-report/*
/.distignore
/.phpcs.xml
/composer.lock
.DS_Store
/.env
/vendor
/.php_cs.cache
/.php_cs.dist
/.config.xml
/config.xml
/logs
