<phpunit bootstrap="./tests/Unit/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnRisky="false"
         cacheResult="false">
    <php>
        <env name="KERNEL_CLASS" value="AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="prestashop-unit-tests">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false" addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./.docker</directory>
                <directory>./.github</directory>
                <directory>./bin</directory>
                <directory>./controllers</directory>
                <directory>./tests</directory>
                <directory>./translations</directory>
                <directory>./upgrade</directory>
                <directory>./vendor</directory>
                <directory>./views</directory>
                <file>./multisafepayofficial.php</file>
                <file>./index.php</file>
                <file>./*/index.php</file>
                <file>./*/*/index.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
