includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  level: max
  # From Phpstan 0.12, paths are relative to the .neon file.
  paths:
    - ../../controllers
    - ../../upgrade
    - ../../views
    - ../../multisafepay.php
    - ../../src
  excludePaths:
    - ../../tests
  scanFiles:
    - ../../multisafepay.php
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::validateOrder\(\)#'
    - '#Variable \$transaction might not be defined.#'
    - '#Call to function is_array\(\) with Currency\|false will always evaluate to false.#'
    - '#Call to an undefined method AdminController\|FrontController::getLanguages\(\).#'
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::addLocale\(\).#'
    - '#Parameter \#8 \$lang_id of method [a-zA-Z0-9\\_]+::createCustomer\(\) expects string, int given.#'
    - '#Parameter \#1 \$module_id of class MultiSafepay\\PrestaShop\\Services\\OrderService constructor expects string, int given.#'
    - "#Strict comparison using === between 'days' and 'hours' will always evaluate to false.#"
    - '#Parameter \#2 \$replace of function str_replace expects array\|string, int given.#'
