includes:
	  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
parameters:
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false
  level: 6
  paths:
    - ../../multisafepayofficial.php
    - ../../src
  excludePaths:
    - ../../tests
  scanFiles:
    - ../../multisafepayofficial.php
    - ../../tests/phpstan/class_stub.php
  scanDirectories:
    - /var/www/html/classes
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::validateOrder\(\)#'
    - '#Variable \$transaction might not be defined.#'
    - '#Call to function is_array\(\) with Currency\|false will always evaluate to false.#'
    - '#Parameter \#1 \$idCountry of static method [a-zA-Z0-9\\_]+::getIsoById\(\) expects int, string given.#'
    - '#Parameter \#2 \$idLang of static method [a-zA-Z0-9\\_]+::get\(\) expects int\|null, true given.#'
    - '#Parameter \#2 \$idLang of static method [a-zA-Z0-9\\_]+::get\(\) expects int\|null, string given.#'
    - '#Parameter \#1 \$key of static method [a-zA-Z0-9\\_]+::updateValue\(\) expects string, int\|string given.#'
    - '#Parameter \#1 \$key of static method [a-zA-Z0-9\\_]+::getValue\(\) expects string, int\|string given.#'
    - '#PHPDoc tag @param has invalid value \(array Hook parameters\): Unexpected token "Hook", expected variable at offset 83#'
    - '#Call to an undefined method AdminController\|FrontController::getLanguages\(\).#'
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::addLocale\(\).#'
    - '#Parameter \#8 \$langId of method [a-zA-Z0-9\\_]+::createCustomer\(\) expects string, int given.#'
    - '#Parameter \#1 \$moduleId of class MultiSafepay\\PrestaShop\\Services\\OrderService constructor expects string, int given.#'
    - "#Strict comparison using === between 'days' and 'hours' will always evaluate to false.#"
    - '#Parameter \#2 \$replace of function str_replace expects array\|string, int given.#'
    - '#Cannot access property \$reference on ObjectModel\|false.#'
    - '#Cannot access property \$id_currency on ObjectModel\|false.#'
    - '#Parameter \#1 \$order of method [a-zA-Z0-9\\_]+::createCustomerDetails\(\) expects Order, ObjectModel\|false given.#'
    - '#Parameter \#1 \$order of method [a-zA-Z0-9\\_]+::createPaymentOptions\(\) expects Order, ObjectModel\|false given.#'
    - '#Parameter \#1 \$order of method [a-zA-Z0-9\\_]+::createDeliveryDetails\(\) expects Order, ObjectModel\|false given.#'
    - '#Call to function is_null\(\) with MultiSafepay\\Sdk will always evaluate to false.#'
    - '#Parameter \#1 \$body of method [a-zA-Z0-9\\_]+::processNotification\(\) expects string, bool\|string given.#'
    - '#Call to an undefined method AdminController\|FrontController::registerStylesheet\(\)#'
    - '#Call to an undefined method AdminController\|FrontController::registerJavascript\(\).#'
    - '#Property CustomerMessageCore::\$private \(bool\) does not accept int.#'
    - '#Parameter \#1 \$name of class Uploader constructor expects null, string given.#'
    - '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
    - '#Parameter \#1 \$id of class Currency constructor expects null, int given.#'
    - '#Call to function is_array\(\) with Currency will always evaluate to false.#'
    - '#Parameter \#1 \$id of class Customer constructor expects null, int given.#'
    - '#Negated boolean expression is always false.#'
    - '#Parameter \#9 \$secure_key of method [a-zA-Z0-9\\_]+::validateOrder\(\) expects bool, string given.#'
