.multisafepay-panel-payment-option {
    margin: 0 0 30px 0 !important;
    padding: 0 !important;;
}
.multisafepay-panel-payment-option .panel-heading {
    margin: 0 !important;
    padding: 5px 10px !important;
    height: auto !important;
}
.multisafepay-panel-payment-option .panel-heading a {
    display: block;
}
.multisafepay-panel-payment-option .panel-heading a:hover {
    text-decoration: none;
}
.multisafepay-panel-payment-option .panel-heading a.collapsed:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f067";
    float: right;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    margin: 3px 8px 0 0;
}
.multisafepay-panel-payment-option .panel-heading a.collapsed {
    background-color: #f6f6f6;
    border-color: #dcdcdc;
    color: #4c4d5a;
}
.multisafepay-panel-payment-option .panel-heading a:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f068";
    float: right;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    margin: 3px 8px 0 0;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .drag-and-drop-control {
    background-color: #f6f6f6;
    position: relative;
    display: inline-block;
    width: 32px;
    height: auto;
    line-height: 30px;
    padding: 0;
    margin: 5px 10px 5px 0;
    text-align: center;
    border: 1px solid #DDDDDD;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .drag-and-drop-control:hover {
    max-width: 80px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .drag-and-drop-control:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.multisafepay-panel-payment-option h4.panel-title {
    width: 100% !important;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a {
    text-decoration: none;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .title {
    text-decoration: none;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a:hover .title {
    text-decoration: none;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .drag-and-drop-control:after {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    content: "\f047";
    font-family: 'FontAwesome', sans-serif;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .status {
    display: block;
    background-color: #f6f6f6;
    border: 1px solid #dcdcdc;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .status {
    position: relative;
    display: inline-block;
    width: 32px;
    height: auto;
    line-height: 30px;
    padding: 0;
    margin: 5px 15px 5px 0;
    text-align: center;
    border: 1px solid #DDDDDD;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .status:after {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    content: "\f00d";
    font-family: 'FontAwesome', sans-serif;
    color: darkred;
}
.multisafepay-panel-payment-option .panel-heading .panel-title a .status.active:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f00c";
    color: forestgreen;
}
.multisafepay-panel-payment-option .panel-body .form-group .col-lg-9 .form-group .col-lg-12 div img {
    padding: 10px;
    border: 1px solid #bbcdd2;
    text-align: center;
    margin-bottom: 10px;
}
.drag-active {
    position: relative;
    background: #fcfcfc;
    opacity: 0.4;
}
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
.multisafepay-panel-payment-option.drag-active .panel-collapse {
    display: none !important;
}

#multisafepay-system-status p.submit {
    clear: both;
    display: block;
    min-height: 35px;
}
#multisafepay-system-status #multisafepay-system-status-report {
    display:none;
    clear: both;
    padding: 30px 0;
}
#multisafepay-system-status .multisafepay_status_table {
    margin-top: 30px;
}
#multisafepay-system-status .multisafepay_status_table thead tr th {
    padding-left: 7px;
}
#multisafepay-system-status .multisafepay_status_table thead tr th h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
#multisafepay-support .account-list {
    padding-left: 10px;
    margin-left: 10px;
}
#multisafepay-support .account-list li {
    list-style-type: circle;
}
#multisafepay-support .multisafepay-sales-contact-list {
    padding-left: 10px;
    padding-top: 10px;
}
#multisafepay-support .multisafepay-sales-contact-list li strong {
    display: block;
    padding-bottom: 5px;
}
#multisafepay-support .multisafepay-sales-contact-list li:first-child {
    padding-top: 8px;
}
#multisafepay-support .multisafepay-sales-contact-list li {
    padding-top: 22px;
    list-style-type: none;
}
#multisafepay-support .multisafepay-sales-contact-list li ul {
    padding-left: 25px;

}
#multisafepay-support .multisafepay-sales-contact-list li ul li {
    padding-top: 0;
    list-style-type: square;
}
#multisafepay-support .multisafepay-sales-contact-list li ul li:first-child {
    padding-top: 0;
}
#content.bootstrap a[href]:not(.breadcrumb a,.dropdown-menu a,table a,[class*=btn],[class*=dropdown],[class*=list-group-item],[class*=kpi-container],[class*=nav-link]) {
    text-decoration: none !important;
}

/* Multi-Language Title Fields Styles */
.multisafepay-title-group .input-group {
    width: 100%;
}

.multisafepay-permanent-help {
    margin-top: 8px !important;
    margin-bottom: 10px !important;
    position: relative !important;
    z-index: 10 !important;
    display: block !important;
    visibility: visible !important;
}

.multisafepay-language-toggle {
    border-left: 1px solid #e9ecef;
    white-space: nowrap;
    min-width: 180px;
    padding: 6px 12px;
    font-size: 13px;
    outline: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important; /* Default state: collapsed/white background */
    color: #666666 !important;
}

.multisafepay-language-toggle:hover {
    background-color: #f8f9fa !important;
}

.multisafepay-language-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
}

.multisafepay-language-toggle:active {
    outline: none !important;
    box-shadow: none !important;
}

/* State: Collapsed (white background) */
.multisafepay-language-toggle.collapsed {
    background-color: #ffffff !important;
    color: #666666 !important;
}

.multisafepay-language-toggle.collapsed:hover {
    background-color: #f8f9fa !important;
    color: #666666 !important;
}

.multisafepay-language-toggle.collapsed:focus {
    background-color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
    color: #666666 !important;
}

.multisafepay-language-toggle.collapsed:active {
    background-color: #ffffff !important;
    color: #666666 !important;
}

/* State: Expanded (gray background) */
.multisafepay-language-toggle.expanded {
    background-color: #fafbfc !important;
    color: #666666 !important;
}

.multisafepay-language-toggle.expanded:focus {
    background-color: #fafbfc !important;
    outline: none !important;
    box-shadow: none !important;
    color: #666666 !important;
}

.multisafepay-language-toggle.expanded:active {
    background-color: #fafbfc !important;
    color: #666666 !important;
}

/* Override hover state for expanded button */
.multisafepay-language-toggle.expanded:hover {
    background-color: #f8f9fa !important;
    color: #666666 !important;
}

/* Override any Bootstrap button styles */
.btn.multisafepay-language-toggle.collapsed {
    background-color: #ffffff !important;
    background-image: none !important;
}

.btn.multisafepay-language-toggle.expanded {
    background-color: #e9ecef !important;
    background-image: none !important;
}

.multisafepay-language-toggle .button-text {
    margin: 0 5px;
    font-weight: normal;
    color: #555555 !important;
}

.multisafepay-language-toggle .toggle-icon {
    margin-left: 5px;
    font-size: 16px;
    vertical-align: middle;
    color: #666666 !important;
}

.multisafepay-additional-languages {
    border-left: 4px solid #eae9e9;
    padding-left: 0 !important;
    background-color: #f8f9fa;
    border-radius: 0 4px 4px 0;
    margin-left: 0 !important;
    padding-right: 0 !important;
}

.multisafepay-inline-language-field {
    padding: 8px 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.multisafepay-inline-language-field .control-label {
    font-size: 14px !important;
    color: #363a41 !important;
    margin-bottom: 0 !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    text-align: left !important;
    font-weight: 500 !important;
    line-height: 1.42857143 !important;
    width: 150px !important;
    flex: 0 0 150px !important;
    white-space: nowrap !important;
}

.multisafepay-inline-language-field .col-lg-3 {
    width: 90px !important;
    padding: 0 8px 0 15px !important;
    margin: 0 !important;
    flex: 0 0 90px !important;
}

.multisafepay-inline-language-field .col-lg-9 {
    padding: 0 8px 0 0 !important;
    margin: 0 !important;
    flex: 1 1 auto !important;
    min-width: 0 !important;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .multisafepay-inline-language-field .control-label {
        width: 120px !important;
        flex: 0 0 120px !important;
        font-size: 13px !important;
    }

    .multisafepay-inline-language-field .col-lg-3 {
        width: 110px !important;
        flex: 0 0 110px !important;
        padding: 0 5px 0 10px !important;
    }

    .multisafepay-inline-language-field .col-lg-9 {
        padding: 0 5px 0 0 !important;
    }
}

@media (max-width: 480px) {
    .multisafepay-inline-language-field {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    .multisafepay-inline-language-field .control-label {
        width: 100% !important;
        flex: none !important;
        margin-bottom: 5px !important;
        padding: 5px 8px !important;
    }

    .multisafepay-inline-language-field .col-lg-3 {
        width: 100% !important;
        flex: none !important;
        padding: 0 !important;
    }

    .multisafepay-inline-language-field .col-lg-9 {
        width: 100% !important;
        flex: none !important;
        padding: 0 !important;
    }
}

.multisafepay-inline-language-field .form-control {
    margin-left: 0 !important;
}

.multisafepay-inline-language-field .form-control {
    font-size: 13px;
}

.multisafepay-inline-language-field .help-block {
    font-size: 11px;
    margin-top: 3px;
}
