@font-face {
  font-family: 'multisafepay';
  src: url('../fonts/multisafepay.eot?56060636');
  src: url('../fonts/multisafepay.eot?56060636#iefix') format('embedded-opentype'),
       url('../fonts/multisafepay.woff2?56060636') format('woff2'),
       url('../fonts/multisafepay.woff?56060636') format('woff'),
       url('../fonts/multisafepay.ttf?56060636') format('truetype'),
       url('../fonts/multisafepay.svg?56060636#multisafepay') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "multisafepay";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-multisafepay:before {
  content: '\e800';
  visibility: visible;
  font-size: 16px;
  vertical-align: top;
}
.mi-multisafepay {
  width: 16px;
  visibility: hidden;
}
