name: PHPUnit
on:
  pull_request:
    branches:
      - main
jobs:
  php_unit:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run docker compose
        run: docker-compose up -d app db
      - name: Sleep for 60 seconds to let PrestaShop installation script finish the process
        run: sleep 60s
        shell: bash
      - name: Install MultiSafepay plugin
        run:  make install
        env:
          COMPOSE_INTERACTIVE_NO_CLI: 1
      - name: Run PHPUnit PrestaShop 1.7
        run:  docker-compose exec -T --workdir /var/www/html/modules/multisafepay app vendor/bin/phpunit --testsuite prestashop-unit-tests
      - name: Send coverage.xml to codecov
        run:  bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
